<h1>My Loans</h1>
<a href="{% url 'apply_loan' %}">Apply for New Loan</a>
<hr>
{% for loan in loans %}
    <div style="border:1px solid #ccc; padding:10px; margin:10px;">
        <h3>Loan ID: {{ loan.id }}</h3>
        <p>Amount: {{ loan.amount }}</p>
        <p>Status: <strong>{{ loan.status }}</strong></p>
        
        <h4>Repayment Schedule:</h4>
        <ul>
            {% for pay in loan.repayments.all %}
                <li>{{ pay.due_date }} - {{ pay.amount }} - 
                    {% if pay.is_paid %} PAID {% else %} PENDING {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}